   #time-display, #lesson-display {
       font-size: 9.5em;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: bolder;
       color: rgb(78, 0, 78);
       text-align: center;
   }

   h1 {
       text-align: center;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: bolder;
       color: rgb(78, 0, 78);
   }